<html>
<head>
    <title>Shoe Stores</title>
</head>
<body>

    <h1>Welcome to the Shoe Catalog</h1>

    <h3><a href="/stores">Add or view shoe stores</a></h3>
    <h3><a href="/brands">Add or view brands of shoes</a></h3>

</body>
</html>
